@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

.leaflet-popup-content {
  margin: 0 !important;
  width: 100% !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

.leaflet-popup-content p {
  margin: 0 !important;
}
.leaflet-popup-content div {
  margin: 0 !important;
}
